@using Contract.Enums
@model Bibabook.Models.ProfileViewModel

@{
    ViewBag.Title = "Profil użytkownika";

}

<h2>@ViewBag.Title</h2>

<div>

    <hr />

    <div class="row">

        <section class="col-md-12 col-sm-12 col-xs-12 content">
            <div class="col-md-8 col-sm-12 col-xs-12 event-block">
                <div class="col-md-4 col-sm-4 col-xs-5 left-panel text-center" style="border:none">

                    <div>
                        @if (Model.AppUser.Sex == Sex.Female)
                        {
                            <img class=" img-circle" src="~/Content/UserIcon/Female.png" style="width: 200px;height:200px;" />
                        }
                        else
                        {
                            <img class="img-circle" src="~/Content/UserIcon/Male.png" style="width: 200px;height:200px;" />
                        }

                    </div>

                    <div class="text-left date-text text-center" style="font-size:1.2em">
                        @Html.DisplayFor(model => model.AppUser.Name)
                        @Html.DisplayFor(model => model.AppUser.Surname)
                    </div>
                    <div class="text-left left-panel-text text-center" style="font-size:1.2em">
                        @Html.DisplayNameFor(model => model.AppUser.Birthday)
                        @Html.DisplayFor(model => model.AppUser.Birthday).ToString().Substring(0, 10)
                    </div>
                    <div class="event-buttons col-md-12 col-sm-12 col-xs-12">

                        @if (!ViewBag.IsSelf)
                        {
                            if (!ViewBag.IsFriend)
                            {
                                <p>@Html.ActionLink("Dodaj do znajomych", "AddFriend", new { id = Model.AppUser.AppUserID }, new { @class = "btn btn-primary right col-md-12" })</p>
                            }
                            else
                            {
                                <p>@Html.ActionLink("Usun ze znajomych", "RemoveFriend", new { id = Model.AppUser.AppUserID }, new { @class = "btn btn-primary right col-md-12" })</p>
                            }
                        }
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-md-6">

                    @if (ViewBag.IsSelf)
                    {
                        <p>@Html.ActionLink("Zmień dane profilowe", "Edit", new { id = Model.AppUser.AppUserID })</p>
                        <p>@Html.ActionLink("Zmień hasło", "ChangePassword")</p>
                        <p>@Html.ActionLink("Zmień avatar", "ChangeAvatar")</p>
                    }
                </div>
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-4 col-sm-12 col-xs-12 event-aside-panel" style="border:none">
                <table class="table">
                    <h3 style="text-align: center">Znajomi</h3>

                    @foreach (var friend in Model.AppUser.Friends)
                    {
                        <tr>
                            <td>
                                <div class="profile-image float-left">
                                    @if (friend.Sex == Sex.Female)
                                    {
                                        <img class=" img-circle" src="~/Content/UserIcon/Female.png" style="width: 50px;height:50px;" />
                                    }
                                    else
                                    {
                                        <img class="img-circle" src="~/Content/UserIcon/Male.png" style="width: 50px;height:50px;" />
                                    }
                                </div>
                            </td>
                            <td>
                                <p style="font-size:1.2em">@Html.ActionLink(friend.Name + " " + friend.Surname, "Details", new { id = friend.AppUserID })</p>
                            </td>


                        </tr>

                    }
                </table>
            </div>

        </section>




    </div>
    <br />
    <br />



    <div class="panel-heading">WYDARZENIA W KTORYCH UCZESTNICZY</div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>

                <th>
                    Start
                </th>
                <th>
                    Koniec
                </th>
                <th>
                    Akcja
                </th>
            </tr>


        </thead>

        @foreach (var evt in Model.EventsParticipating)
        {
            var loggedId = Bibabook.DAL.UserHelper.GetLogged(Session).AppUserID;
            var userIsHost = evt.Host.AppUserID == loggedId;
            var userIsGuest = evt.Guests.Any(x => x.AppUserID == loggedId);
            if (evt.IsActive)
            {

                <tbody>
                    <tr>
                        <td>
                            <p>@Html.ActionLink(evt.Name, "Details", "AppEvents", new { id = evt.AppEventID }, null)</p>
                        </td>

                        <td style="width:30%">
                            @Html.DisplayFor(model => evt.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(model => evt.TimeStart).ToString().Substring(0, 10)
                        </td>

                        <td>
                            @Html.DisplayFor(model => evt.TimeEnd).ToString().Substring(0, 10)
                        </td>


                                <td>
                                    @Html.ActionLink("Opuść", "LeaveParty", "AppEvents", new { @partyId = evt.AppEventID }, new { @class = "btn btn-primary right col-md-12" })

                                </td>
                            
                        
                    </tr>
                </tbody>

            }
        }
    </table>



    <div class="panel-heading">WYDARZENIA UŻYTKOWNIKA</div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>

                <th>
                    Start
                </th>
                <th>
                    Koniec
                </th>
                <th>
                    Akcja
                </th>
            </tr>


        </thead>

        @foreach (var evt in Model.AppUser.Events)
        {
            var loggedId = Bibabook.DAL.UserHelper.GetLogged(Session).AppUserID;
            var userIsHost = evt.Host.AppUserID == loggedId;
            var userIsGuest = evt.Guests.Any(x => x.AppUserID == loggedId);
            if (evt.IsActive)
            {

                <tbody>
                    <tr>
                        <td>
                            <p>@Html.ActionLink(evt.Name, "Details", "AppEvents", new { id = evt.AppEventID }, null)</p>
                        </td>

                        <td style="width:30%">
                            @Html.DisplayFor(model => evt.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(model => evt.TimeStart).ToString().Substring(0, 10)
                        </td>

                        <td>
                            @Html.DisplayFor(model => evt.TimeEnd).ToString().Substring(0, 10)
                        </td>


                        @if (!userIsHost)
                        {
                            if (!userIsGuest)
                            {
                                <td>
                                    @Html.ActionLink("Dołącz", "JoinParty", "AppEvents", new { @partyId = evt.AppEventID }, new { @class = "btn btn-primary right col-md-12" })
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.ActionLink("Opuść", "LeaveParty", "AppEvents", new { @partyId = evt.AppEventID }, new { @class = "btn btn-primary right col-md-12" })

                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("Usuń", "Delete", "AppEvents", new { @Id = evt.AppEventID },"")
                            </td>
                            <br />
                            <td>
                                @Html.ActionLink("Edytuj", "Edit", "AppEvents", new { @Id = evt.AppEventID },"")
                            </td>
                        }
                    </tr>
                </tbody>

            }
        }
    </table>





</div>
