@{
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "main-content",
        InsertionMode = InsertionMode.Replace,
    };
}

@*
     <header>

            <!-- A menu bar. -->
            <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            @Html.ActionLink("Bibabook", "Index", "Home", null, htmlAttributes: new { @class = "logo" })

            <!-- SearchBox -->
            <nav class="search-box right">
                @using (Ajax.BeginForm("Search", "Search", options))
                {
                    <div>
                        <div style="width: 280px; float: left; padding: 12px 0 14px;">
                            @Html.TextBox("name", "", new { @class = "form-control" })
                        </div>
                        <button class="btn btn-default" style="width: 100px; margin: 12px 6px 14px;" type="submit">Szukaj</button>
                    </div>
                }
            </nav>
            <!-- End: SearchBox -->
            <!--
                Miejsce na linki dostępne dla wszystkich użytkowników (gości).
                Tylko czy na dobrą sprawę czy jest jakikolwiek, który faktycznie
                powinien zostać tutaj dodany?
            -->
            @Html.Partial("_UserPanel")
        </div>
    </nav>
    </header>

*@

        <header>

            <!-- A menu bar. -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!--float-left-->
                    <div class="navbar-header ">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Bibabook", "Index", "Home", null, htmlAttributes: new { @class = "logo" })
                    </div>

                    <nav>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <nav class="search-box pull-left">
                                @using (Ajax.BeginForm("Search", "Search", options))
                                {
                                    <div>
                                        <div style="width: 10vw; min-width: 150px; float: left; padding: 12px 0 14px;">
                                            @Html.TextBox("name", "", new { @class = "form-control" })
                                        </div>
                                        <button class="btn btn-default" style="width: 100px; margin: 12px 6px 14px;" type="submit">Szukaj</button>
                                    </div>
                                }
                            </nav>

                           @Html.Partial("_UserPanel")
                        </div>
                    </nav>
                </div>
            </nav>
        </header>
