@using Bibabook.DAL
@using Bibabook.Implementation.Models

@{
    AppUser user = UserHelper.GetLogged(Session);
    }
    @if (user != null)
    {
        <img src="Images/portret.png" class="img-responsive" style="height:40px;" alt="Profile picture">
        <p>Witaj @user.Name</p>
    
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Zarejestruj", "Register", "AppUser", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Zaloguj się", "Login", "AppUser", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
