@using Contract.Enums
@model Bibabook.Implementation.Models.AppEvent

@{
    ViewBag.Title = "Szczegóły";
    var loggedId = Bibabook.DAL.UserHelper.GetLogged(Session).AppUserID;
    var userIsHost = Model.Host.AppUserID == loggedId;
    bool userIsGuest;
    userIsGuest = Model.Guests != null && Model.Guests.Select(x => x.AppUserID).Any(x => x == loggedId);
}
<div class="col-md-12">
    <h2 class="shadowed" style="text-align: center;padding-bottom:5vh;">@Html.DisplayFor(model => model.Name)</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div style="background: url(/Content/UserIcon/Event.png); background-size:cover; overflow: hidden; height: 30vh;" class="col-md-4">
                    <img class="" src="@Model.Background" style="width: 100%; height: 100%;" />
                </div>
            
                <blockquote class="col-md-3 col-md-offset-1">
                    @Html.DisplayFor(model => model.Description)
                </blockquote>
                
                    
            </div>
        </div>
            <div class="col-md-4">
                @if (!userIsHost)
                {
                    if (!userIsGuest)
                    {
                        @Html.ActionLink("Dołącz", "JoinParty", new { @partyId = Model.AppEventID }, new { @class = "btn btn-primary  col-md-12" })
                    }
                    else
                    {
                        @Html.ActionLink("Opuść", "LeaveParty", new { @partyId = Model.AppEventID }, new { @class = "btn btn-primary center-block col-md-12" })
                    }
                }

                @if (userIsHost)
                {
                    @Html.ActionLink("Edytuj wydarzenie", "Edit", new { @Id = Model.AppEventID }, new { @class = "btn btn-primary right col-md-6" })<br />
                    <br />
                    @Html.ActionLink("Usuń wydarzenie", "Delete", new { @Id = Model.AppEventID }, new { @class = "btn btn-primary right col-md-6" })
                }

           

            <h2 class="shadowed">Uczestnicy</h2>
            <ul style="list-style: none;">
                @if (Model.Guests != null)
                {
                    foreach (var item in Model.Guests)
                     {
                         //url.action tworzy relatywny link do akcji details kontrolera appusers i przeysyla mu id usera
                         <li style="padding: 1vh; margin-left: -40px;">
                             @if (item.Sex == Sex.Female)
                             {
                                 <img class=" img-circle" src="~/Content/UserIcon/Female.png" style="width: 50px; height: 50px;"/>
                             }
                             else
                             {
                                 <img class="img-circle" src="~/Content/UserIcon/Male.png" style="width: 50px; height: 50px;"/>
                             }
                             <a href="@Url.Action("Details", "AppUsers", new {@id = item.AppUserID})">@item.Name @item.Surname</a>
                         </li>
                     }
                }
            </ul>
        </div>
    </div>
    <div class="btn-group">
        @Html.ActionLink("Powrót do strony głównej", "Index", "", new { @class = "btn btn-default center", @role = "button" })
    </div>
</div>

<div class="clearfix">

</div>
