@model Bibabook.Implementation.Models.AppEvent

@{
    ViewBag.Title = "Details";
    var loggedId = Bibabook.DAL.UserHelper.GetLogged(Session).AppUserID;
    var userIsHost = Model.Host.AppUserID == loggedId;
    var userIsGuest = Model.Guests.Select(x => x.AppUserID).Any(x => x == loggedId);
}

<h2>Details</h2>

<div>
    <h4>AppEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Host
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host.Name) @Html.DisplayFor(model => model.Host.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdultsOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdultsOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privacy)
        </dd>
        <dd>
            @if (userIsHost)
            {
                @Html.ActionLink("Edit party", "Edit", new { @Id = Model.AppEventID })<br />
                @Html.ActionLink("Delete party", "Delete", new { @partyId = Model.AppEventID })
            }
            @if( !userIsHost){
            if (!userIsGuest)
            {
                @Html.ActionLink("Join party", "JoinParty", new {@partyId=Model.AppEventID })
            }
            else
            {
                @Html.ActionLink("Leave party", "LeaveParty", new { @partyId = Model.AppEventID })
            }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
