@model Bibabook.Implementation.Models.AppEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdultsOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdultsOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Background)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Background)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppEventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
