@model Bibabook.Implementation.Models.AppEvent

@{
    ViewBag.Title = "Details";
    var loggedId = Bibabook.DAL.UserHelper.GetLogged(Session).AppUserID;
    var userIsHost = Model.Host.AppUserID == loggedId;
    if (Model.Guests != null) { 
    var userIsGuest = Model.Guests.Select(x => x.AppUserID).Any(x => x == loggedId);
    }
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="col-md-8 col-md-offset-2">

    <div>
        <div class="col-md-8">
            <img class="img-thumbnail" src="@Model.Background" />
        </div>
        <div class="col-md-4">
            <h2>Uczestnicy</h2>
            <ul>
                @foreach (var item in Model.Guests)
                { 
                    //url.action tworzy relatywny link do akcji details kontrolera appusers i przeysyla mu id usera
                    <li><a href="@Url.Action("Details", "AppUsers", new { @id = item.AppUserID })">@item.Name @item.Surname</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-12" style="padding: 20px;">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="event-buttons col-md-12">
        <div class="col-md-4 col-md-offset-4">
                @if (!userIsHost)
                {
                    if (!userIsGuest)
                    {
                        @Html.ActionLink("Join party", "JoinParty", new { @partyId = Model.AppEventID }, new { @class = "btn btn-primary right col-md-12" })
                    }
                    else
                    {
                        @Html.ActionLink("Leave party", "LeaveParty", new { @partyId = Model.AppEventID }, new { @class = "btn btn-primary right col-md-12" })
                    }
                }

            @if (userIsHost)
            {
                @Html.ActionLink("Edit party", "Edit", new { @Id = Model.AppEventID }, new { @class = "btn btn-primary right col-md-12" })<br />
                @Html.ActionLink("Delete party", "Delete", new { @partyId = Model.AppEventID }, new { @class = "btn btn-primary right col-md-12" })
            }

        </div>
    </div>



</div>    

<div class="clearfix">

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
