@model IEnumerable<Bibabook.Implementation.Models.AppEvent>

@{
    ViewBag.Title = "EventSummary";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdultsOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                
                <a href="@Url.Action("Details", new { @id=item.AppEventID})">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultsOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
        </tr>

    }

</table>
